::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 100vh;
    color: #f2f2f2;
    overflow-y: scroll;
    cursor: default;
}

.parallax {
    background-image: url('assets/img/ben-merito/ben-2-shaded.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.topnav {
    display: flex;
    flex: 3 1;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    overflow: hidden;
    height: 10%;
    line-height: 1.2;
    font-size: 30px;
    background-color: rgba(25, 25, 25, 0.6);
    letter-spacing: 1px;
    vertical-align: middle;
}

    .topnav a {
        color: #f2f2f2;
        padding: 0 15px;
        text-decoration: none;
        width: 100%;
        display: inline;
    }

        .topnav a.active {
            color: #800080;
        }

        .topnav a:hover {
            color: #db7093;
            transition: color 0.5s;
        }

section.main {
    width: 50%;
    margin: auto;
    height: 90vh;
    text-align: center;
    color: #f2f2f2;
    font-size: 32px;
}

.total-center {
    height: auto;
    display: inline-block;
}

button {
    cursor: pointer;
}

    button.medium {
        border-radius: 40px;
        border: #f2f2f2;
        width: 40%;
        margin: 10px 30%;
        padding: 10px 0;
        font-size: 30px;
        font-weight: 700;
        background: linear-gradient(to right, #800080, #663399, #800080);
        color: white;
    }

        button.medium:hover {
            background: linear-gradient(to right, #680468, #542c7c, #680468);
            transition: background 0.5s ease-in;
            -webkit-transition: background 0.5s ease-in;
        }

    button:active {
        transform: translateY(1px);
    }
